<!DOCTYPE html>
<html>
    <head>
        <title><%= context.os.distribution || "jsys" %></title>
    </head>
    <body>
        <div id="panel"></div>
        <script> // this is gross.
            var theme = JSON.parse('<%- theme %>') // 
        </script>
        <script src="/page/js/root.js"></script>
    </body>
</html>