<!DOCTYPE html>
<html>
    <head>
        <title><%= context.os.distribution || "jsys" %></title>
    </head>
    <body>
        <div id="panel"></div>
        <script> // this is gross.
            var theme = JSON.parse('<%- theme %>') // 
        </script>
        <script src="/page/js/root.js"></script>
        <!-- forgive me father for I have sinned -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="/page/js/jquery-ui.min.js"></script>
    </body>
</html>